<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/leaflet/leaflet.js"></script>
<script src="lib/mustache.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>
<script src="lib/geodash/geodash.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>