<%- include header.ejs %>

<div class="dashboard">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 block1"></div>
      </div>
      <div class="row">
        <div class="col-md-12 block2"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 block9"></div>
      </div>
      <div class="row">
        <div class="col-md-12 block3"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 block4"></div>
      </div>
      <div class="row">
        <div class="col-md-12 block5"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 block6"></div>
    <div class="col-md-4 block7"></div>
    <div class="col-md-4 block8"></div>
  </div>
</div><!-- /.dashboard -->

<%- include templates.html %>
<%- include footer.ejs %>