<script type="text/template" id="chart-template">
  <div class="chart">
    <div class="title"><h3>{{ title }}</h3></div>
    <div class="chart-inner">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
          {{#data.columns}}
            <th>{{.}}</th>
          {{/data.columns}}
          </tr>
        </thead>
        <tbody>
        {{#data.rows}}
          <tr>
          {{#row}}
            <td>{{value}}
          {{/row}}
          </tr>
        {{/data.rows}}
        </tbody>
      </table>
    </div>
  </div>
</script>

<script type="text/template" id="map-template">
  <div class="chart map"></div>
</script>