.dashboard {
  padding: 30px 30px;
  text-align: center;
}

.header {
  min-height: 120px;
  width: 100%;
  background: #589CDB url(../img/top.jpg) left bottom repeat-x;
  color: #fff;
  border-bottom: 5px solid #424242;
}

.header .logo {
  padding: 10px 30px;
}

.dashboard .chart {
  background: #DAEAF8;
  margin-bottom: 30px;
  border: 0px solid #DAEAF8;
  border-radius: 2px;
  padding: 10px;
  overflow: hidden;
}

.dashboard .chart.map {
  height: 630px;
  background: #fdede7;
}

.dashboard .chart .title {
  height: 30px;
}

.dashboard .chart .title h3 {
  margin: 0;
}

.dashboard .chart .chart-inner {
  height: 250px;
  overflow-y: auto;
}

.dashboard .chart .table {
  background: #fff;
}