.dashboard {
  padding: 30px 30px;
  text-align: center;
}

.header {
  min-height: 120px;
  width: 100%;
  background: #589CDB;
  /*background: #589CDB url(../img/top.jpg) left bottom repeat-x;*/
  color: #fff;
  border-bottom: 5px solid #424242;
}

.header .logo {
  padding: 10px 30px;
}

.dashboard .chart {
  background: #b9d5f0;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  overflow: hidden;
}

.dashboard .chart.summary {
  background: #fff;
  text-align: left;
  margin-bottom: 0px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: none;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dashboard .chart.summary .label i:hover {
  cursor: pointer;
}

.dashboard .chart.map {
  height: 598px;
  background: #fdede7;
  border-radius: 0px;
}

.dashboard .chart .title {
  height: 30px;
  float: left;
}

.dashboard .chart .title h3 {
  margin: 0;
}

.dashboard .chart .chart-inner {
  height: 258px;
  background: #fff;
  overflow-y: auto;
  clear: both;
}

.dashboard .chart .table {
  background: #fff;
}

.dashboard .chart .table th.sort {
  
}

.dashboard .chart .table th:hover {
  cursor: pointer;
}

.dashboard .chart .table td.grouper:hover {
  cursor: pointer;
}

.dashboard .chart.filters .chart-inner {
  padding: 10px;
}

.dashboard .filters .form-group {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.dashboard .filters .radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
  margin-left: 2px;
}

.dashboard .filters button {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.dashboard .filters button.clear {
}


.dashboard .chart .toolbar {
  float: right;
  text-align: right;
}

.dashboard .chart .toolbar .tool {
  padding: 0px;
}

.dashboard .chart .toolbar .tool:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

